@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.main-container{
	font-family: 'Cabin';
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 5%;
	gap:2%;
}

.form-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.preview-container{
	display:flex;
	flex-direction: column;
	align-items: center;
}

form{
	display:flex;
	flex-direction: column;
	gap:1vh;
}

.spaced-header{
	display:flex;
	justify-content: space-between;
}

.form-blocks{
	display:flex;
	flex-direction:column;
	gap:1vh;
}

#add-education{
	background: white;
	color: #38b809;
	border: 2px solid #38b809;
}

#delete{
	background: white;
	color: #b82e12;
	border: 2px solid #b82e12;
}

#save-pdf{
	background: #38b809;
	color: white;
	border: 0;	
}